<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/10_week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ÏûëÏóÖÌòï1

Îç∞Ïù¥ÌÑ∞ Ï∂úÏ≤ò :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv

(Ï∞∏Í≥†, Îç∞Ïù¥ÌÑ∞ ÏàòÏ†ï)

Îç∞Ïù¥ÌÑ∞ ÏÑ§Î™Ö : Ïú†ÌäúÎ∏å Îç∞ÏùºÎ¶¨ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ (ÌïúÍµ≠)

‚Äã

dataurl =https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [2]:
#ÎùºÏù¥Î∏åÎü¨Î¶¨ Î°úÎìú
import pandas as pd
import numpy as np

#Îç∞Ïù¥ÌÑ∞ Î°úÎìú
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")

##Q1.  Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàòÍ∞Ä ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞úÎ™ÖÏùÑ Ï∂úÎ†•ÌïòÎùº (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [14]:
df.groupby("channelTitle").size().sort_values(ascending=False).head(10)

channelTitle
Ïß§Ìà∞                       372
ÌååÎøåÎ¶¨                      318
SPOTV                    318
Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê          313
Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê    293
Ïû•ÏÇêÏ≠à                      283
BANGTANTV                275
Ï±ÑÎÑê Ïã≠Ïò§Ïïº                   274
Ïù¥Í≥ºÏû•                      258
Ï¥ùÎ™áÎ™Ö                      255
dtype: int64

In [22]:
#Answer

df.loc[df["channelTitle"].isin(df["channelTitle"].value_counts().head(10).index)]["channelTitle"].unique()

array(['Ïû•ÏÇêÏ≠à', 'Ï¥ùÎ™áÎ™Ö', 'ÌååÎøåÎ¶¨', 'Ïß§Ìà∞', 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
       'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê', 'SPOTV', 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº', 'Ïù¥Í≥ºÏû•', 'BANGTANTV'],
      dtype=object)

##Q2. ÎÖºÎûÄÏúºÎ°ú Ïù∏Í∏∞ÎèôÏòÅÏÉÅÏù¥ Îêú ÏºÄÏù¥Ïä§Î•º ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. dislikesÏàòÍ∞Ä like ÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùÑ Î™®Îëê Ï∂úÎ†•ÌïòÎùº

In [27]:
print(df.loc[df["dislikes"]>df["likes"],"channelTitle"].unique())

['Ìï´ÎèÑÍ∑∏TV' 'ASMR Ïï†Ï†ïTV' 'ÌïòÏñÄÌä∏Î¶¨HayanTree' 'ÏñëÌå° YangPang' 'Ï≤†Íµ¨Ìòï (CHULTUBE)'
 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§' '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä' 'Ïò§Î©îÌÇ¥TV' 'Ïú°ÏßÄÎã¥' 'MapleStory_KR'
 'ROAD FIGHTING CHAMPIONSHIP' 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà' 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO' 'Gen.G esports']

In [31]:
#Answer
print(list(df.loc[df["likes"] < df["dislikes"]]["channelTitle"].unique()))

['Ìï´ÎèÑÍ∑∏TV', 'ASMR Ïï†Ï†ïTV', 'ÌïòÏñÄÌä∏Î¶¨HayanTree', 'ÏñëÌå° YangPang', 'Ï≤†Íµ¨Ìòï (CHULTUBE)', 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§', '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä', 'Ïò§Î©îÌÇ¥TV', 'Ïú°ÏßÄÎã¥', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà', 'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO', 'Gen.G esports']

##Q3. Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§. channelIdÏùò Í≤ΩÏö∞ Í≥†Ïú†Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ ÌïúÎ≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞ØÏàòÎ•º Íµ¨ÌïòÏó¨Îùº

In [49]:
#Answer
#.drop_duplicates()Îäî uniqueÌïú 1Í∞úÏùò keyÎßå ÎÇ®Í∏∞Í≥† ÎÇòÎ®∏ÏßÄ Ï§ëÎ≥µ Ï†úÍ±∞
change = df[["channelTitle","channelId"]].drop_duplicates()["channelId"].value_counts()

target = change[change>1]

print(len(target))

71

##Q4. ÏùºÏöîÏùºÏóê  Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§Ï§ë Í∞ÄÏû•ÎßéÏùÄ ÏòÅÏÉÅ Ï¢ÖÎ•ò(categoryId)Îäî Î¨¥ÏóáÏù∏Í∞Ä?

In [130]:
temp = df

temp["trending_date2"] = pd.to_datetime(temp["trending_date2"])

temp.loc[temp["trending_date2"].dt.day_name() == "Sunday"].groupby("categoryId").size().sort_values(ascending=False).index[0]

#24

24

In [131]:
#Answer
temp = df

temp["trending_date2"] = pd.to_datetime(temp["trending_date2"])
temp.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]

24

##Q5. Í∞Å ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™áÍ∞ú Ïî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº

In [17]:
temp = df

temp["day_name"] = pd.to_datetime(temp["trending_date2"]).dt.day_name()

temp.groupby(["day_name","categoryId"]).size().unstack()

categoryId   1    2    10   15   17  19   20  ...   23    24   25   26   27   28  29
day_name                                      ...
Friday      243  120  833  187  633  90  283  ...  568  2976  444  369  183  171  12
Monday      263  105  837  215  668  92  298  ...  594  3148  453  378  205  160  10
Saturday    255  119  776  198  592  87  296  ...  570  3066  422  364  183  173  10
Sunday      274   99  830  217  636  91  289  ...  556  3096  437  363  199  167   9
Thursday    246  128  890  207  682  92  282  ...  560  2954  470  375  194  166  13
Tuesday     257  119  894  208  708  89  285  ...  569  3084  452  394  194  161  11
Wednesday   234  129  917  207  706  85  291  ...  566  3090  468  385  212  165  12

[7 rows x 15 columns]

In [27]:
#Answer



group = df.groupby([pd.to_datetime(df["trending_date2"]).dt.day_name(),"categoryId"],as_index=False).size()

group.pivot(index='categoryId',columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

##Q6. ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§.viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_countÍ∞íÏù¥ 0Ïù∏ Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [65]:
#Answer
temp = df.loc[df["view_count"] != 0]

most = (temp["comment_count"] / temp["view_count"]).dropna().sort_values().index[-1]

df.iloc[most]["title"]

'60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)'

##Q7. ÎåìÍ∏ÄÏùò ÏàòÎ°ú (comment_count) ÏòÅÏÉÅ Î∞òÏùëÏóê ÎåÄÌïú ÌåêÎã®ÏùÑ Ìï† Ïàò ÏûàÎã§. viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº (view_counts, ratioÍ∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§.)

In [78]:
temp = df.loc[(df["view_count"] != 0) & ((df["comment_count"] / df["view_count"]) != 0)]

result = (temp["comment_count"] / temp["view_count"]).sort_values(ascending=False).index[-1]

df.iloc[result].title

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [84]:
#Answer
target = df.loc[df["view_count"] != 0]
ratio = (target["comment_count"] /target["view_count"]).dropna().sort_values()

index = ratio[ratio != 0].index[0]

df.iloc[index]["title"]

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

##Q8. like ÎåÄÎπÑ dislikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (like, dislike Í∞íÏù¥ 0Ïù∏Í≤ΩÏö∞Îäî Ï†úÏô∏ÌïúÎã§)

In [93]:
temp = df.loc[(df["likes"] != 0) & (df["dislikes"] != 0)]

idx = (temp["dislikes"] / temp["likes"]).sort_values().index[0]

df.iloc[idx]["title"]

'[Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞ÄÎìùÌïú NCT 127 ÎèÑÏòÅ&Ï†ïÏö∞Ïùò Ï§åÌÑ∞Î∑∞'

##Q9. Í∞ÄÏû•ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ Î¨¥ÏóáÏù∏Í∞Ä? (ÎÇ†ÏßúÍ∏∞Ï§Ä, Ï§ëÎ≥µÌè¨Ìï®)

In [104]:
df["channelTitle"].value_counts().sort_values(ascending= False).index[0]

'Ïß§Ìà∞'

In [110]:
#Answer

df.loc[(df["channelId"] == df["channelId"].value_counts().index[0])]["channelTitle"].unique()[0]

'Ïß§Ìà∞'

##Q10. 20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?

In [153]:
titles = list(df["title"].unique())

result = []
for title in titles:
  if df.loc[df["title"] == title, "title"].count() >= 20:
    result.append(title)

len(result)

41

In [178]:
#Answer

(df[["title","channelId"]].value_counts() >= 20).sum()

40