<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/10_week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#작업형1

데이터 출처 :https://www.kaggle.com/rsrishav/youtube-trending-video-dataset?select=KR_youtube_trending_data.csv

(참고, 데이터 수정)

데이터 설명 : 유튜브 데일리 인기동영상 (한국)

​

dataurl =https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv

In [2]:
#라이브러리 로드
import pandas as pd
import numpy as np

#데이터 로드
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv")

##Q1.  인기동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

In [14]:
df.groupby("channelTitle").size().sort_values(ascending=False).head(10)

channelTitle
짤툰                       372
파뿌리                      318
SPOTV                    318
런닝맨 - 스브스 공식 채널          313
엠뚜루마뚜루 : MBC 공식 종합 채널    293
장삐쭈                      283
BANGTANTV                275
채널 십오야                   274
이과장                      258
총몇명                      255
dtype: int64

In [22]:
#Answer

df.loc[df["channelTitle"].isin(df["channelTitle"].value_counts().head(10).index)]["channelTitle"].unique()

array(['장삐쭈', '총몇명', '파뿌리', '짤툰', '런닝맨 - 스브스 공식 채널',
       '엠뚜루마뚜루 : MBC 공식 종합 채널', 'SPOTV', '채널 십오야', '이과장', 'BANGTANTV'],
      dtype=object)

##Q2. 논란으로 인기동영상이 된 케이스를 확인하고 싶다. dislikes수가 like 수보다 높은 동영상을 제작한 채널을 모두 출력하라

In [27]:
print(df.loc[df["dislikes"]>df["likes"],"channelTitle"].unique())

['핫도그TV' 'ASMR 애정TV' '하얀트리HayanTree' '양팡 YangPang' '철구형 (CHULTUBE)'
 '왜냐맨하우스' '(MUTUBE)와꾸대장봉준' '오메킴TV' '육지담' 'MapleStory_KR'
 'ROAD FIGHTING CHAMPIONSHIP' '사나이 김기훈' '나혼자산다 STUDIO' 'Gen.G esports']

In [31]:
#Answer
print(list(df.loc[df["likes"] < df["dislikes"]]["channelTitle"].unique()))

['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']

##Q3. 채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [49]:
#Answer
#.drop_duplicates()는 unique한 1개의 key만 남기고 나머지 중복 제거
change = df[["channelTitle","channelId"]].drop_duplicates()["channelId"].value_counts()

target = change[change>1]

print(len(target))

71

##Q4. 일요일에  인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [130]:
temp = df

temp["trending_date2"] = pd.to_datetime(temp["trending_date2"])

temp.loc[temp["trending_date2"].dt.day_name() == "Sunday"].groupby("categoryId").size().sort_values(ascending=False).index[0]

#24

24

In [131]:
#Answer
temp = df

temp["trending_date2"] = pd.to_datetime(temp["trending_date2"])
temp.loc[df['trending_date2'].dt.day_name() =='Sunday'].categoryId.value_counts().index[0]

24

##Q5. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [17]:
temp = df

temp["day_name"] = pd.to_datetime(temp["trending_date2"]).dt.day_name()

temp.groupby(["day_name","categoryId"]).size().unstack()

categoryId   1    2    10   15   17  19   20  ...   23    24   25   26   27   28  29
day_name                                      ...
Friday      243  120  833  187  633  90  283  ...  568  2976  444  369  183  171  12
Monday      263  105  837  215  668  92  298  ...  594  3148  453  378  205  160  10
Saturday    255  119  776  198  592  87  296  ...  570  3066  422  364  183  173  10
Sunday      274   99  830  217  636  91  289  ...  556  3096  437  363  199  167   9
Thursday    246  128  890  207  682  92  282  ...  560  2954  470  375  194  166  13
Tuesday     257  119  894  208  708  89  285  ...  569  3084  452  394  194  161  11
Wednesday   234  129  917  207  706  85  291  ...  566  3090  468  385  212  165  12

[7 rows x 15 columns]

In [27]:
#Answer



group = df.groupby([pd.to_datetime(df["trending_date2"]).dt.day_name(),"categoryId"],as_index=False).size()

group.pivot(index='categoryId',columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

##Q6. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

In [65]:
#Answer
temp = df.loc[df["view_count"] != 0]

most = (temp["comment_count"] / temp["view_count"]).dropna().sort_values().index[-1]

df.iloc[most]["title"]

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

##Q7. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다. viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

In [78]:
temp = df.loc[(df["view_count"] != 0) & ((df["comment_count"] / df["view_count"]) != 0)]

result = (temp["comment_count"] / temp["view_count"]).sort_values(ascending=False).index[-1]

df.iloc[result].title

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [84]:
#Answer
target = df.loc[df["view_count"] != 0]
ratio = (target["comment_count"] /target["view_count"]).dropna().sort_values()

index = ratio[ratio != 0].index[0]

df.iloc[index]["title"]

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

##Q8. like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [93]:
temp = df.loc[(df["likes"] != 0) & (df["dislikes"] != 0)]

idx = (temp["dislikes"] / temp["likes"]).sort_values().index[0]

df.iloc[idx]["title"]

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

##Q9. 가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [104]:
df["channelTitle"].value_counts().sort_values(ascending= False).index[0]

'짤툰'

In [110]:
#Answer

df.loc[(df["channelId"] == df["channelId"].value_counts().index[0])]["channelTitle"].unique()[0]

'짤툰'

##Q10. 20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [153]:
titles = list(df["title"].unique())

result = []
for title in titles:
  if df.loc[df["title"] == title, "title"].count() >= 20:
    result.append(title)

len(result)

41

In [178]:
#Answer

(df[["title","channelId"]].value_counts() >= 20).sum()

40