<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/12_week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 출처 :https://www.kaggle.com/darinhawley/fifa-world-cup-goalscorers-19302018(참고, 데이터 수정)

데이터 설명 : 1930 ~2018년도 월드컵 출전선수 골기록

​

data url = https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv

In [1]:
#라이브러리 로드

import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv")

In [2]:
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

##Q1.  주어진 전체 기간의 각 나라별 골득점수 상위 5개 국가와 그 득점수를 데이터프레임형태로 출력하라주

In [12]:
df.groupby("Country")["Goals"].sum().sort_values(ascending=False).head(5).to_frame()

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [15]:
#Answer

result = df.groupby("Country").sum().sort_values("Goals", ascending=False).head(5)

print(result)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

##Q2. 주어진 전체기간동안 골득점을 한 선수가 가장 많은 나라 상위 5개 국가와 그 선수 숫자를 데이터 프레임 형식으로 출력하라

In [20]:
df.groupby("Country").count().sort_values("Player", ascending=False)["Player"].head(5).to_frame()

           Player
Country
Brazil         81
Germany        78
Italy          60
Argentina      59
France         58

In [22]:
#Answer
result = df.groupby("Country").size().sort_values(ascending=False).head(5)

print(result)

Country
Brazil       81
Germany      78
Italy        60
Argentina    59
France       58
dtype: int64

##Q3. Years 컬럼은 년도 -년도 형식으로 구성되어있고, 각 년도는 4자리 숫자이다. 년도 표기가 4자리 숫자로 안된 케이스가 존재한다. 해당 건은 몇건인지 출력하라

In [38]:
#Answer

df["YearLst"] = df["Years"].str.split("-")

def checkFour(x):
  for value in x:
    if len(str(value)) != 4:
      return False
    else:
      return True

df["check"] = df["YearLst"].apply(checkFour)

result = df.loc[df["check"] == False]

result["check"].count()

45

##Q4. Q3에서 발생한 예외 케이스를 제외한 데이터프레임을 df2라고 정의하고 데이터의 행의 숫자를 출력하라 
##(아래 문제부터는 df2로 풀이하겠습니다)

In [41]:
df2 = df.loc[df["check"] ==True]

df2.shape[0]

1250

In [45]:
#Answer

df2 = df2[df.check == True].reset_index(drop=True)

print(df2.shape[0])

1250

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [47]:
def len_cup_check(x):
  return len(x)


df2["LenCup"] = df2["YearLst"].apply(len_cup_check)


df2.loc[df2["LenCup"] == 4,"Player"].count()

16

In [51]:
#Answer

df2["LenCup"] = df2["YearLst"].str.len()

result = df2["LenCup"].value_counts()[4]

result

16

##Q6. Yugoslavia 국가의 월드컵 출전횟수가 2회인 선수들의 숫자를 구하여라

In [54]:
df2.loc[(df2["Country"] == "Yugoslavia") & (df2["LenCup"] == 2), "Player"].count()

7

In [56]:
#Answer

result = len(df2[(df2.LenCup == 2) & (df2.Country == "Yugoslavia")])

result

7

##Q7. 2002년도에 출전한 전체 선수는 몇명인가?

0       [2002, 2006, 2010, 2014]
1             [1998, 2002, 2006]
2                   [1970, 1974]
3                         [1958]
4       [1958, 1962, 1966, 1970]
                  ...
1245                      [1962]
1246                [1982, 1990]
1247                      [1930]
1248                      [1930]
1249                [1954, 1958]
Name: Years, Length: 1250, dtype: object

In [88]:
df2["YearLst2"] = df2["Years"].str.split("-")


def check_2002(x):
  a = 0
  for value in x:
    if int(value) == 2002: 
      return 1

df2["YearLst"].apply(check_2002).sum()

156.0

In [89]:
#Answer

df2.loc[df2["Years"].str.contains("2002"),"Player"].count()

156

##Q8. 이름에 'carlos' 단어가 들어가는 선수의 숫자는 몇 명인가? (대, 소문자 구분 x)

In [94]:
df2["Player"].str.lower().str.contains("carlos").sum()

13

In [95]:
#Answer
result =len(df2[df2.Player.str.lower().str.contains("carlos")])

result

13

##Q9. 월드컵 출전 횟수가 1회뿐인 선수들 중에서 가장 많은 득점을 올렸던 선수는 누구인가?

In [106]:
df2.loc[(df2["LenCup"] == 1)].sort_values(by="Goals", ascending=False)["Player"].head(1)

3    Just Fontaine
Name: Player, dtype: object

In [108]:
#Answer
result = df2[df2.LenCup == 1].sort_values("Goals", ascending=False).Player.values[0]

result

'Just Fontaine'

##Q10. 월드컵 출전횟수가 1회 뿐인 선수들이 가장 많은 국가는 어디인가?

In [121]:
df2.loc[df2["LenCup"] == 1].groupby("Country").count()["Player"].sort_values(ascending=False).index[0]

'Brazil'

In [125]:
#Answer

df2[df2.LenCup == 1].Country.value_counts().index[0]

'Brazil'