<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/14_week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#작업형1

데이터 출처 : https://www.kaggle.com/unsdsn/world-happiness

(참고, 데이터 수정)

데이터 설명 : 전세계 행복도 지표 조사

data url = "https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv"

In [3]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv")

df.head()

   행복랭킹          나라명     점수  상대GDP  ...  선택의 자유도    관대함  부패에 대한인식    년도
0     1      Finland  7.769  1.340  ...    0.596  0.153     0.393  2019
1     2      Denmark  7.600  1.383  ...    0.592  0.252     0.410  2019
2     3       Norway  7.554  1.488  ...    0.603  0.271     0.341  2019
3     4      Iceland  7.494  1.380  ...    0.591  0.354     0.118  2019
4     5  Netherlands  7.488  1.396  ...    0.557  0.322     0.298  2019

[5 rows x 10 columns]

##Q1.데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다.
##각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [16]:
target = df[["년도","나라명","행복랭킹","점수"]].groupby(["년도","나라명"]).head()
target.loc[target["행복랭킹"] == 10]["점수"].mean()

7.259

In [19]:
result = df[df["행복랭킹"]==10]["점수"].mean()
result

7.259

##Q2.데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다.
##각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [25]:
result = df.loc[df["행복랭킹"] <= 50].groupby(["년도"])["점수"].mean().to_frame()
result.head()

           점수
년도
2018  6.64678
2019  6.67002

##Q3. 2018년도 데이터들만 추출하여 행복점수와 부패에 대한 상관계수를 구하여라

     행복랭킹                       나라명     점수  ...    관대함  부패에 대한인식    년도
156     1                   Finland  7.632  ...  0.202     0.393  2018
157     2                    Norway  7.594  ...  0.286     0.340  2018
158     3                   Denmark  7.555  ...  0.284     0.408  2018
159     4                   Iceland  7.495  ...  0.353     0.138  2018
160     5               Switzerland  7.487  ...  0.256     0.357  2018
..    ...                       ...    ...  ...    ...       ...   ...
307   152                     Yemen  3.355  ...  0.083     0.064  2018
308   153                  Tanzania  3.303  ...  0.270     0.097  2018
309   154               South Sudan  3.254  ...  0.224     0.106  2018
310   155  Central African Republic  3.083  ...  0.218     0.038  2018
311   156                   Burundi  2.905  ...  0.149     0.076  2018

[156 rows x 10 columns]

In [37]:
target.loc[target["부패에 대한인식"].isnull()]

     행복랭킹                   나라명     점수  상대GDP  ...  선택의 자유도    관대함  부패에 대한인식    년도
175    20  United Arab Emirates  6.774  2.096  ...    0.284  0.186       NaN  2018

[1 rows x 10 columns]

In [42]:
target = df.loc[df["년도"]==2018]

target[["점수","부패에 대한인식"]].corr().iloc[0,1]

#import scipy.stats as stats

#stats.pearsonr(target["점수"], target["부패에 대한인식"].fillna(target["부패에 대한인식"].mean()))

0.4052915227150998

##Q4. 2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [77]:
df_2018 = df.loc[df["년도"] == 2018][["행복랭킹","나라명"]].reset_index(drop=True)
df_2019 = df.loc[df["년도"] == 2019][["행복랭킹","나라명"]].reset_index(drop=True)

#display(df_2018)
#display(df_2019)
check = []
for i in range(len(df_2019)):
  if df_2018["행복랭킹"].iloc[i] == df_2019["행복랭킹"].iloc[i]:
    if df_2018["나라명"].iloc[i] == df_2019["나라명"].iloc[i]:
      check.append(df_2019["나라명"].iloc[i])

len(check)

15

In [81]:
#Answer
#전체길이 - 중복을 제거한 길이(중복된 행이 2018 == 2019) == 중복된 행의 길이
result = len(df[["행복랭킹","나라명"]]) - len(df[["행복랭킹","나라명"]].drop_duplicates())

print(result)

15

##Q5. 2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라, 컬럼명은 v1,v2,corr으로 표시하라

In [125]:
#2018년도 데이터들만 추출
df_2019 = df.loc[df["년도"] == 2019]
#각변수간 상관관계 
target_corr = df_2019.corr()
#내림차순으로 정렬 후 상위 5개를 데이터 프레임으로 출력
target = target_corr.unstack().dropna().to_frame().reset_index().sort_values(0, ascending=False)
target = target.loc[target[0] != 1.0].drop_duplicates(0).head(5)
result = target.rename(columns={"level_0" : "v1", "level_1" : "v2", 0 : "corr"})

result

       v1     v2      corr
34  행복기대치  상대GDP  0.835462
10     점수  상대GDP  0.793883
33  행복기대치     점수  0.779883
11     점수  사회적지원  0.777058
19  상대GDP  사회적지원  0.754906

##Q6. 각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [143]:
df_2018 = df.loc[df["년도"] == 2018]
df_2019 = df.loc[df["년도"] == 2019]

mean_2018 = df_2018.sort_values("점수").head(5)["점수"].mean()
mean_2019 = df_2019.sort_values("점수").head(5)["점수"].mean()

print("2018 : ", mean_2018)
print("2019 : ", mean_2019)

2018 :  3.1799999999999997
2019 :  3.1407999999999996

In [146]:
#Answer
result = df.groupby("년도").tail(5).groupby("년도").mean()[["점수"]]

result

          점수
년도
2018  3.1800
2019  3.1408

##Q7. 2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [151]:
#2019년 데이터 추출
df_2019 = df.loc[df["년도"] == 2019]
#상대 GDP 평균 이상의 나라들 평균
df_2019_high = df_2019.loc[df_2019["상대GDP"] >= df_2019["상대GDP"].mean()]["점수"].mean()
#상대 GDP 평균 이하의 나라들 평균
df_2019_low = df_2019.loc[df_2019["상대GDP"] <= df_2019["상대GDP"].mean()]["점수"].mean()

print("상대 GDP 평균 이상의 나라들 행복점수 평균 : ", df_2019_high)
print("상대 GDP 평균 이하의 나라들 행복점수 평균 : ", df_2019_low)
print("차이값 : ", df_2019_high-df_2019_low)

상대 GDP 평균 이상의 나라들 행복점수 평균 :  6.013204545454547
상대 GDP 평균 이하의 나라들 행복점수 평균 :  4.622720588235293
차이값 :  1.3904839572192547

##Q8. 각 년도의 부패에 대한 인식을 내림차순으로 정렬했을 때 상위 20개 국가의 부패에 대한 인식의 평균을 구하여라

In [174]:
df.sort_values("부패에 대한인식", ascending=False).groupby("년도").head(20).groupby(["년도"]).mean()[["부패에 대한인식"]]

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

##Q9. 2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [198]:
#2018년도 행복랭킹 50위권 이내 포함된 나라
df_2018 = df.loc[(df["년도"] == 2018) & (df["행복랭킹"] <= 50)]
#2019년도 행복랭킹 50귀권 밖 나라
df_2019 = df.loc[(df["년도"] == 2019) & (df["행복랭킹"] >= 50)]
check = []
for value1 in df_2018["나라명"].values:
  for value2 in df_2019["나라명"].values:
    if value1 == value2:
      check.append(value1)

check

['Malaysia', 'Kuwait', 'Thailand', 'Ecuador']

In [195]:
#Answer
#2018년도 행복랭킹 50위권 이내 포함된 나라
df_2018 = set(df.loc[(df["년도"] == 2018) & (df["행복랭킹"] <= 50)]["나라명"])
#2019년도 행복랭킹 50위권 이내 포함된 나라
df_2019 = set(df.loc[(df["년도"] == 2019) & (df["행복랭킹"] <= 50)]["나라명"])
#둘의 차집합이 50위권 밖으로 밀려난 나라
df_2018-df_2019

{'Belize', 'Kuwait', 'Malaysia', 'Thailand'}

##Q10. 2018년, 2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [234]:
#2018, 2019년 모두 기록이 있는 나라
df_2018 = set(df.loc[df["년도"] == 2018]["나라명"])
df_2019 = set(df.loc[df["년도"] == 2019]["나라명"])
target = df.loc[df["나라명"].isin(df_2018.intersection(df_2019))]
# lst = []
# for value1 in df_2018:
#   for value2 in df_2019:
#     if value1 == value2:
#       lst.append(value1)
# target=df.loc[df["나라명"].isin(lst)]
target_2018 = target.loc[target["년도"] == 2018].sort_values("나라명").reset_index(drop=True)
target_2019 = target.loc[target["년도"] == 2019].sort_values("나라명").reset_index(drop=True)

columns= {"나라명" : target_2019["나라명"].values, "점수차이" : target_2019["점수"] - target_2018["점수"]}
pd.DataFrame(columns).sort_values("점수차이", ascending=False).head(1)

        나라명  점수차이
20  Burundi  0.87

In [248]:
#Answer
count = df["나라명"].value_counts()
target = count[count>=2].index

df2 = df.copy()

multiple = df2[df2["나라명"].isin(target)].reset_index(drop=True)
multiple.loc[multiple['년도']==2018,'점수'] = multiple[multiple["년도"] ==2018]['점수'].values * (-1)
result = multiple.groupby('나라명').sum()["점수"].sort_values().to_frame().iloc[-1]
result

점수    0.87
Name: Burundi, dtype: float64