<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/4_week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#작업형1

데이터 출처 :https://www.kaggle.com/adityakadiwal/water-potability

(참고, 데이터 수정)

데이터 설명 : 수질 음용성 여부 (Potablillity 컬럼 : 0 ,1 )

Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv

##Q1. ph값은 상당히 많은 결측치를 포함한다. 결측치를 제외한 나머지 데이터들 중 하위 25%의 값들의 평균값은?

In [22]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")

df = df.loc[~df["ph"].isnull()]

df.loc[df["ph"] <= df["ph"].quantile(0.25), "ph"].mean()

5.057093462441732

In [30]:
#Answer

train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
target = train['ph'].dropna()

target.loc[target <= target.quantile(0.25)].mean()

5.057093462441732

#작업형2

데이터 출처 :https://www.kaggle.com/adityakadiwal/water-potability(참고, 데이터 수정)

데이터 설명 : 수질 음용성 여부 (Potablillity 컬럼 : 0 ,1 )

문제타입 : 분류유형

평가지표 : accuracy

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/test.csv

In [88]:
trainData = "https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv"
testData = "https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/test.csv"

import pandas as pd
train = pd.read_csv(trainData)
test = pd.read_csv(testData)

train

            ph    Hardness  ...  Turbidity  Potability
0     7.918150  214.186611  ...   4.028958           0
1     5.422446  205.266080  ...   2.911751           1
2     7.341547  187.672402  ...   4.025644           0
3     9.056245  197.666301  ...   3.319354           0
4     5.039374  142.860598  ...   4.957420           0
...        ...         ...  ...        ...         ...
2615  8.060610  208.042711  ...   3.600906           0
2616  8.238997  199.594539  ...   3.089924           1
2617  5.694694  240.712182  ...   3.870611           1
2618       NaN  203.050244  ...   4.456104           0
2619  5.907078  213.471081  ...   4.296480           0

[2620 rows x 10 columns]

In [89]:
test

           ph    Hardness  ...  Trihalomethanes  Turbidity
0    7.025822  147.968060  ...        51.174058   4.746092
1    6.139494  236.674026  ...       106.037222   3.260907
2    8.520807  238.335112  ...        39.091171   3.940605
3    7.617149  196.606942  ...        60.144702   2.391540
4    7.146976  196.562685  ...        66.814176   4.025762
..        ...         ...  ...              ...        ...
651  8.000776  237.519250  ...        82.753278   4.519210
652  7.736313  225.063103  ...        74.765101   3.700917
653  7.330197  159.803720  ...        51.153972   2.884715
654       NaN  241.066929  ...        46.139183   3.735204
655       NaN  247.164018  ...        60.319203   4.287441

[656 rows x 9 columns]

In [90]:
train.describe()

                ph     Hardness  ...    Turbidity   Potability
count  2225.000000  2620.000000  ...  2620.000000  2620.000000
mean      7.059707   196.264418  ...     3.973541     0.390076
std       1.608470    33.367043  ...     0.776490     0.487860
min       0.000000    47.432000  ...     1.450000     0.000000
25%       6.069364   176.676887  ...     3.439540     0.000000
50%       7.025504   197.103467  ...     3.969391     0.000000
75%       8.064653   217.024476  ...     4.514376     1.000000
max      14.000000   317.338124  ...     6.357439     1.000000

[8 rows x 10 columns]

In [91]:
#결측치 확인
train.isnull().sum()

ph                 395
Hardness             0
Solids               0
Chloramines          0
Sulfate            617
Conductivity         0
Organic_carbon       0
Trihalomethanes    132
Turbidity            0
Potability           0
dtype: int64

In [92]:
test.isnull().sum()

ph                 107
Hardness             0
Solids               0
Chloramines          0
Sulfate            152
Conductivity         0
Organic_carbon       0
Trihalomethanes     38
Turbidity            0
dtype: int64

In [93]:
#결측치는 중앙값으로 대체
train = train.fillna(train.median())
test = test.fillna(train.median())

In [94]:
#타겟데이터 분리

X = train.drop("Potability", axis=1)
y = train["Potability"]

In [95]:
#스케일링(MinMaxScaler)
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X = scaler.fit_transform(X)
test = scaler.fit_transform(test)

In [96]:
#훈련데이터, 검증데이터 분리
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.33,stratify=y, random_state=42)

In [97]:
#모델링
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=42)

rf.fit(X_train, y_train)

y_pred = rf.predict(X_val)

#평가
from sklearn.metrics import accuracy_score,f1_score

print("accuracy : ",accuracy_score(y_val, y_pred))
print("f1-score : ", f1_score(y_val, y_pred))

accuracy :  0.669364161849711
f1-score :  0.42800000000000005

In [114]:
#제출
import numpy as np
pred = rf.predict(X_val)
submission = {"Potability" : pred}

submission = pd.DataFrame(submission)
submission.to_csv("수험번호.csv", index=False)