<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/6_week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##작업형1

데이터 출처 :https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009(참고, 데이터 수정)

데이터 설명 : 레드 와인 퀄리티 예측문제

Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv

# Q1. quality 값이 3인 데이터와 8인 데이터의 각 독립변수의 표준편차 값이 가장 큰 컬럼을 구하여라

In [15]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")

quality_3 = df.loc[df["quality"] == 3]
quality_8 = df.loc[df["quality"] == 8]

print(quality_3.std().sort_values(ascending= False).index[0])

print(quality_8.std().sort_values(ascending= False).index[0])

total sulfur dioxide
total sulfur dioxide

In [20]:
#Answer
(df.loc[df["quality"] == 8].std()- df.loc[df["quality"]== 3].std()).sort_values().index[-1]

'total sulfur dioxide'

#작업형2

데이터 출처 :https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009(참고, 데이터 수정)

데이터 설명 : 레드 와인 퀄리티 예측문제

​평가지표 : r2 score

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/test.csv

In [21]:
trainData = "https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv"
testData = "https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/test.csv"

import pandas as pd

train = pd.read_csv(trainData)
test = pd.read_csv(testData)

train

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               5.0              0.38         0.01  ...       0.75     14.0        6
1               5.0              0.42         0.24  ...       0.74     14.0        8
2               7.1              0.36         0.30  ...       0.50      9.4        5
3               7.6              0.29         0.49  ...       0.61     10.1        6
4               7.7              0.51         0.28  ...       0.74      9.2        5
...             ...               ...          ...  ...        ...      ...      ...
1274            8.8              0.61         0.14  ...       0.59      9.5        5
1275            8.0              0.59         0.16  ...       0.92     10.5        7
1276           10.0              0.35         0.45  ...       0.43      9.4        5
1277            8.0              1.18         0.21  ...       0.47     10.5        5
1278            8.6              0.47         0.30  ...       0.53      9.4        5

[1279 rows x 12 columns]

In [22]:
test

     fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
0              9.8             0.300         0.39  ...  3.14       0.57     11.5
1              7.1             0.460         0.20  ...  3.37       0.64     10.4
2              7.1             0.460         0.20  ...  3.37       0.64     10.4
3              7.9             0.765         0.00  ...  3.33       0.68     10.9
4              8.7             0.630         0.28  ...  3.26       0.63     10.2
..             ...               ...          ...  ...   ...        ...      ...
315            6.2             0.600         0.08  ...  3.45       0.58     10.5
316            5.9             0.550         0.10  ...  3.52       0.76     11.2
317            6.3             0.510         0.13  ...  3.42       0.75     11.0
318            5.9             0.645         0.12  ...  3.57       0.71     10.2
319            6.0             0.310         0.47  ...  3.39       0.66     11.0

[320 rows x 11 columns]

In [24]:
train.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [25]:
#타겟 데이터 분리
X = train.drop("quality", axis=1)
y = train["quality"]

X.shape, test.shape

((1279, 11), (320, 11))

In [26]:
#훈련데이터, 검증데이터 분리
from sklearn.model_selection import train_test_split

X_train, X_val, y_train, y_val = train_test_split(X,y,test_size=0.33, random_state=42)

In [30]:
#모델링 & 평가
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor

rf = RandomForestRegressor(random_state=42)
tree = DecisionTreeRegressor(random_state=42)
knn = KNeighborsRegressor()
xgb = XGBRegressor(random_state=42)
lgbm = LGBMRegressor(random_state=42)
models = [rf,tree,knn,xgb,lgbm]

from sklearn.metrics import r2_score

for model in models:
  print(model.__class__.__name__)
  model.fit(X_train, y_train)
  y_pred = model.predict(X_val)
  print(r2_score(y_val, y_pred))

RandomForestRegressor
0.4576590578936126
DecisionTreeRegressor
-0.02877425928056132
KNeighborsRegressor
0.0583935056611834
XGBRegressor
[06:20:49] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
0.41373823141939425
LGBMRegressor
0.43494964458613083

In [32]:
#제출
import numpy as np

sub = {"quality" : np.zeros(test.shape[0])}
submission = pd.DataFrame(sub)

submission["quality"] = rf.predict(test)

submission.to_csv("수험번호.csv", index=False)