<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/7_week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#작업형1

데이터 출처 :https://www.kaggle.com/sid321axn/audit-data(참고, 데이터 수정)

데이터 설명 : 사기회사 분류

Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv

##Q1. 데이터의 Risk 값에 따른 score_a와 score_b의 평균값을 구하여라

In [7]:
import pandas as pd


df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")

df.groupby("Risk")["Score_A", "Score_B"].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

In [5]:
#Answer

import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")

df.groupby("Risk").mean()[["Score_A", "Score_B"]]

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

#작업형2

데이터 출처 : https://www.kaggle.com/sid321axn/audit-data (참고, 데이터 수정)
데이터 설명 : 사기회사 분류

평가지표 : f1_score

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv