<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/7_week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#작업형1

데이터 출처 :https://www.kaggle.com/prathamtripathi/drug-classification(참고, 데이터 수정)

데이터 설명 : 투약하는 약을 분류

Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv

##Q1. 남성들의 연령대별 (10살씩 구분 0 ~ 9세 10 ~ 19세 ...) Na_to_K값의 평균값을 구해서 데이터 프레임으로 표현하여라

In [37]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")

#남성로 구분

df = df.loc[df["Sex"] == "M"]

#남성들을 10살씩 구분(0~9, 10~ 19세)
#Age 컬럼의 타입 변경
import numpy as np



df.loc[(df["Age"] >= 0) & (df["Age"] <= 9) ,"Age"] =0
df.loc[(df["Age"] >= 10) & (df["Age"] <= 19) ,"Age"] =1
df.loc[(df["Age"] >= 20) & (df["Age"] <= 29) ,"Age"] =2
df.loc[(df["Age"] >= 30) & (df["Age"] <= 39) ,"Age"] =3
df.loc[(df["Age"] >= 40) & (df["Age"] <= 49) ,"Age"] =4
df.loc[(df["Age"] >= 50) & (df["Age"] <= 59) ,"Age"] =5
df.loc[(df["Age"] >= 60) & (df["Age"] <= 69) ,"Age"] =6
df.loc[(df["Age"] >= 70) & (df["Age"] <= 79) ,"Age"] =7

df.loc[df["Age"] == 0, "Age"] ="0~9세" 
df.loc[df["Age"] == 1, "Age"] ="10~19세"
df.loc[df["Age"] == 2, "Age"] ="20~29세"
df.loc[df["Age"] == 3, "Age"] ="30~39세"
df.loc[df["Age"] == 4, "Age"] ="40~49세"
df.loc[df["Age"] == 5, "Age"] ="50~59세"
df.loc[df["Age"] == 6, "Age"] ="60~69세"
df.loc[df["Age"] == 7, "Age"] ="70~79세"

pd.DataFrame(df.groupby("Age")["Na_to_K"].mean())

          Na_to_K
Age
10~19세  13.627000
20~29세  18.260769
30~39세  15.244143
40~49세  13.897273
50~59세  14.811273
60~69세  14.284308
70~79세  11.363857

In [50]:
#Answer
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")

pre = df.loc[df["Sex"] == "M"]
#// 연산자는 나누기 연산 후 소수점 이하의 수를 버리고, 정수 부분의 수만 구함
pre["Age2"] = pre["Age"]//10*10

pd.DataFrame(pre.groupby("Age2").mean()["Na_to_K"])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        Na_to_K
Age2
10    13.627000
20    18.260769
30    15.244143
40    13.897273
50    14.811273
60    14.284308
70    11.363857

#작업형2

데이터 출처 :https://www.kaggle.com/prathamtripathi/drug-classification(참고, 데이터 수정)

데이터 설명 : 투약하는 약을 분류

​평가지표 : accuracy

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/test.csv