<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/8_week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#작업형1

데이터 출처 :https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing(참고, 데이터 수정)

데이터 설명 : 현대 차량가격 분류문제

Data url :https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv

##Q1. 정보(row수)가 가장 많은 상위 3차종의 price값의 각 평균값은?

In [42]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")


#row수가 가장 많은 상위 3차종
df.groupby("model").size().sort_values(ascending=False)

# Tucson, I10, I30



high_model = df.loc[(df["model"] == " Tucson") |
        (df["model"] == " I10") |
       (df["model"] == " I30")]

high_model.groupby("model")["price"].mean().sort_values(ascending=False).to_frame()

                price
model
 Tucson  15805.441373
 I30     11651.821759
 I10      7646.137891

In [52]:
#Answer

import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")


#df["model"].value_counts().index[:3]

##Index([' Tucson', ' I10', ' I30'], dtype='object')

df.loc[df["model"].isin(df["model"].value_counts().index[:3])].groupby("model")["price"].mean().sort_values(ascending=False).to_frame()

                price
model
 Tucson  15805.441373
 I30     11651.821759
 I10      7646.137891

#작업형2

데이터 출처 :https://www.kaggle.com/mysarahmadbhat/hyundai-used-car-listing(참고, 데이터 수정)

데이터 설명 : 현대차 스펙에 따른 가격 예측문제

​평가지표 : r2_score

trainData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv

testData url : https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/test.csv