<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/PCA_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

출처 : https://m.blog.naver.com/tjdrud1323/221720259834

In [2]:
#데이터 불러오기(iris)

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

import pandas as pd

df = pd.read_csv(url, names=['sepal length','sepal width','petal length','petal width','target'])

df.head()

   sepal length  sepal width  petal length  petal width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
#데이터 표준화
#pca를 하기 전에 데이터 스케일링을 하는 이유는
#데이터의 스케일에 따라 주성분의 설명 가능한 분산량이 달라질 수 있기 때문이다. 
from sklearn.preprocessing import StandardScaler
features = ['sepal length', 'sepal width', 'petal length', 'petal width']
scaler = StandardScaler()
#타겟데이터 분리
X = df.drop("target", axis=1)
y= df["target"]

X = scaler.fit_transform(X)
X = pd.DataFrame(X, columns= features)

X.head()

   sepal length  sepal width  petal length  petal width
0     -0.900681     1.032057     -1.341272    -1.312977
1     -1.143017    -0.124958     -1.341272    -1.312977
2     -1.385353     0.337848     -1.398138    -1.312977
3     -1.506521     0.106445     -1.284407    -1.312977
4     -1.021849     1.263460     -1.341272    -1.312977

In [23]:
#PCA 실행
from sklearn.decomposition import PCA
#주성분은 2개로 지정
#퍼센트로 지정할 수 있음
components = 2
pca = PCA(n_components= components)
printcipal_components = pca.fit_transform(X)

printcipal_components = pd.DataFrame(printcipal_components,columns=["component1", "component2"])
printcipal_components.head()

   component1  component2
0   -2.264542    0.505704
1   -2.086426   -0.655405
2   -2.367950   -0.318477
3   -2.304197   -0.575368
4   -2.388777    0.674767

In [37]:
#내가 설정한 주성분의 갯수가 전체데이터의 분산을 얼마만큼 설명하는지 확인
import numpy as np
print("각각의 주성분은 전체데이터의 분산을")
print(pca.explained_variance_ratio_)
print("값으로 설명함 ")

print()
print("두개의 주성분이 설명하는 분산은 총")
print(pca.explained_variance_ratio_.sum())
print("값으로 설명함")

각각의 주성분은 전체데이터의 분산을
[0.72770452 0.23030523]
값으로 설명함

두개의 주성분이 설명하는 분산은 총
0.9580097536148197
값으로 설명함

In [40]:
print("만약 주성분을 3개로 설정하였다면")
from sklearn.decomposition import PCA
#주성분은 3개로 지정
#퍼센트로 지정할 수 있음
components = 3
pca_temp = PCA(n_components= components)
printcipal_components = pca_temp.fit_transform(X)

print("각각의 주성분은 전체데이터의 분산을")
print(pca_temp.explained_variance_ratio_)
print("값으로 설명함 ")

print()
print("세개의 주성분이 설명하는 분산은 총")
print(pca_temp.explained_variance_ratio_.sum())
print("값으로 설명함")

print("3개의 주성분으로 설정할 경우 세번째 주성분은 전체 데이터의 0.03정도 밖에 설명하지못함")

만약 주성분을 3개로 설정하였다면
각각의 주성분은 전체데이터의 분산을
[0.72770452 0.23030523 0.03683832]
값으로 설명함

세개의 주성분이 설명하는 분산은 총
0.9948480731910936
값으로 설명함
3개의 주성분으로 설정할 경우 세번째 주성분은 전체 데이터의 0.03정도 밖에 설명하지못함