<a href="https://colab.research.google.com/github/HwangHanJae/BigDataPratice/blob/main/working_type1_videogame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 설명

여러 플랫폼의 년도별 출시된 게임 데이터셋 출처 : https://mlcourse.ai/

Name : 게임명

Platform : 출시 플랫폼

Year_of_Release : 출시년도

Genre : 장르

Publisher : 출시 업체

{지역별}_Sales : 판매량

User_Score : 유저스코어 (tbd : 측정 안됨)

Developer : 개발 업체

Rating : 이동등급()

dataUrl =’https://raw.githubusercontent.com/Datamanim/video/master/video_games_sale.csv’

###Question 1

###데이터 Url을 이용하여 df변수에 데이터를 로드하라

In [3]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/video/master/video_games_sale.csv')

df.head()

   Unnamed: 0                   Name Platform  ...  Developer Rating Year_of_ten
0           0             Wii Sports      Wii  ...   Nintendo      E      2000.0
1           1         Mario Kart Wii      Wii  ...   Nintendo      E      2000.0
2           2      Wii Sports Resort      Wii  ...   Nintendo      E      2000.0
3           3  New Super Mario Bros.       DS  ...   Nintendo      E      2000.0
4           4               Wii Play      Wii  ...   Nintendo      E      2000.0

[5 rows x 18 columns]

###Question 1

###video_games_sales 데이터셋(video_games_sales.csv)의 출시년도(Year_of_Release) 컬럼을 10년단위(ex 1990~1999 : 1990)로 변환하여 새로운 컬럼(year_of_ten)에 추가하고 게임이 가장 많이 출시된 년도(10년단위)와 가장 적게 출시된 년도(10년단위)를 각각 구하여라.

In [33]:
df["year_of_ten"] = df["Year_of_Release"].apply(lambda x : (x // 10) * 10)

max = df["year_of_ten"].value_counts().index[0]
min = df["year_of_ten"].value_counts().index[-1]
print("게임이 가장 많이 출시된 년도",max)
print("게임이 가장 적게 출시된 년도",min)

게임이 가장 많이 출시된 년도 2000.0
게임이 가장 적게 출시된 년도 1980.0

###Question 2

###플레이스테이션 플랫폼 시리즈(PS,PS2,PS3,PS4,PSV)중 장르가 Action로 발매된 게임의 총 수는?

In [51]:
lst = ["PS","PS2","PS3","PS4","PSV"]

result = len(df.loc[(df["Platform"].isin(lst)) & (df["Genre"] == "Action")])

result

616

###Question 2

###게임이 400개 이상 출시된 플랫폼들을 추출하여 각 플랫폼의 User_Score 평균값을 구하여 데이터프레임을 만들고 값을 내림차순으로 정리하여 출력하라

In [91]:
#게임이 400개 이상 출시된 플랫폼 추출
idx = df["Platform"].value_counts()[df["Platform"].value_counts()>=400].index

result = df.loc[df["Platform"].isin(idx)].groupby(["Platform"])["User_Score"].mean().sort_values(ascending=False).to_frame()

result

          User_Score
Platform
PS2         7.664386
XB          7.540708
PC          7.060369
DS          7.047198
Wii         6.903758
PS3         6.782705
X360        6.780769

###Question 3

###게임 이름에 Mario가 들어가는 게임을 3회 개발한 개발자(Developer컬럼)을 구하여라

In [124]:
developer

Index(['Marvelous AQL', 'Success', 'Nadeo', 'Experience Inc.',
       'Melbourne House', 'Media Molecule', '4A Games', 'Anchor',
       'Swordfish Studios', 'id Software, Raven Software',
       ...
       'WideScreen Games', 'Psyonix', 'Bungie Software', '8ing/Raizing',
       'GenePool', 'Hudson Entertainment', 'SCE Studio Cambridge',
       'Infinity Ward, Sledgehammer Games', 'Deep Silver Dambuster Studios',
       'UDS'],
      dtype='object', length=134)

In [134]:
target = df.loc[df["Name"].str.contains("Mario")]["Developer"].value_counts()

result = list(target[target==3].index)
result

['Nintendo, Nintendo Software Technology', 'Nintendo, Nd Cube']

###Question 4

###PS2 플랫폼으로 출시된 게임들의 User_Score의 첨도를 구하여라

In [145]:
target = df.loc[df["Platform"] == "PS2"]["User_Score"]

import scipy.stats as stats

result = stats.kurtosis(target)

result

#kurtosis(첨도)
#target.kurtosis()

2.4920035946875965

###Question 5

###각 게임별 NA_Sales,EU_Sales,JP_Sales,Other_Sales 값의 합은 Global_Sales와 동일해야한다. 소숫점 2자리 이하의 생략으로 둘의 값의 다른경우가 존재하는데, 이러한 케이스가 몇개 있는지 확인하라

In [159]:
import numpy as np

df["new_Global_Sales"] = df["NA_Sales"] + df["EU_Sales"]+df["JP_Sales"]+df["Other_Sales"]

result = (df["Global_Sales"] != df["new_Global_Sales"]).sum()

result

3636

In [162]:
#Answer
(df[["NA_Sales","EU_Sales","JP_Sales","Other_Sales"]].sum(axis=1) != df["Global_Sales"]).sum()

3636

###Question 6

###User_Count컬럼의 값이 120 이상인 게임들 중에서 User_Score의 값이 9.0이상인 게임의 수를 구하여라

In [167]:
#User_Count컬럼의 값이 120이상인 게임
result = len(df.loc[(df["User_Count"] >= 120) & (df["User_Score"] >= 9.0)])

result

86

###Question 7

###Global_Sales컬럼의 값들을 robust스케일을 진행하고 40이상인 데이터 수를 구하여라

In [206]:
#robustScale

from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

target = scaler.fit_transform(np.array(df["Global_Sales"]).reshape(-1,1))

result = len(pd.DataFrame(target[target>=40]))

result
# from sklearn.preprocessing import RobustScaler
# scaler = RobustScaler()
# target = scaler.fit_transform(X=pd.DataFrame(df["Global_Sales"]), y='Global_Sales')
# result = len(pd.DataFrame(target[target>=40]))
# result

6